body {
  background: #05060b;
  color: #e7edf7;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
